# c++ build
/build

# latex files
/**/*.aux
/**/*.fls
/**/*.log
/**/*.pdf
/**/*.gz
/**/*.fdb_latexmk
/**/*.dvi
/**/*.xdv

# exceptions for gz archives and pdf files

# vscode
/.vscode

# python
**/__pycache__/**